doctype html
html
  head
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    )

    link(href="/css/style.css" rel="stylesheet")
  body 
//-     .notify
//-       .notify__header 
//-         .heading.heading--secondary Check if it is Down
//-       form.form.form--signup
//-         .form__field
//-             label.form__field__label Website
//-             input.form__field__input.website(type="text")
//-         .form__field
//-             label.form__field__label Email
//-             input.form__field__input.email(type="email")
//-         .form__field
//-             label.form__field__label Interval
//-             input.form__field__input.interval(type="text")
//-         .form__field 
//-             button.form__field__btn.form__field__btn--submit.btn.btn--primary Notify Me
//- .
